body {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    background-color: #292929;
    color: white;
}

h1 {
    color: #e3e3e3;
    font-weight: 700;
}

p {
    color: #ababab;
}
