@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;

  --color-navy-950: #020617;
  --color-navy-900: #0f172a;
  --color-navy-800: #1e293b;
}

:root {
  --background: #020617;
  --foreground: #e2e8f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}